<div class="row justify-content-center footer-lists">
  <div class="col-4">
    <h5>Services</h5>
    <ul class="list-unstyled">
      <li><a href="#">Database Support</a></li>
      <li><a href="#">Consulting</a></li>
      <li><a href="#">Data & Engineering Services</a></li>
      <li><a href="#">DBA Managed Service</a></li>
      <li><a href="#">Remote DBA support</a></li>
      <li><a href="#">Cloud database management</a></li>
      <li><a href="#">Performance tuning & optimisation</a></li>
      <li><a href="#">Database High Availability & DR</a></li>
      <li><a href="#">Database Migrations</a></li>
      <li><a href="#">Azure Data Engineering</a></li>
      <li><a href="#">Enterprise Application Development</a></li>
    </ul>
  </div>
  <div class="col-3 pe-0">
    <h5>About Us</h5>
    <ul class="list-unstyled">
      <li><a href="#"> Our Startup Story</a></li>
      <li><a href="#">Our Team</a></li>
      <li><a href="#">Our Clients</a></li>
      <li><a href="#">Careers</a></li>
      <li><a href="#">Privacy Policy</a></li>
    </ul>
  </div>
  <div class="col-4">
    <h5 class="mb-4">Contact Us</h5>

    <h6 class="mb-2">Email:</h6>
    <input
      type="email"
      class="form-control mb-2"
      placeholder="contact@schemazen.com"
    />

    <p class="contact-info">
      Feel free to reach out to us for any inquiries or support!
    </p>
  </div>
</div>
<div class="row footer-section">
  <div class="col-12">
    <p class="text-center footer-text">
      &copy; 2024 SchemaZenDB. All rights reserved. | Privacy Policy | Terms of
      Service
    </p>
  </div>
</div>
