<nav class="navbar navbar-light bg-light navbar-expand-md fixed-top navbar-top p-0">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="zenDBNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/schema-db/services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/schema-db/compare">About US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/schema-db/generate">Contact Us</a>
        </li>
        </ul>
      </div>
  </div>
</nav>
