<div class="card contact-card align-items-center justify-content-center">
  <div class="card-body">
    <h5 class="text-center">Contact Us</h5>
    <p class="card-text">
      Whether you have questions about our services, want to discuss your
      database needs, feel free to reach out to us for solutions.
    </p>
    <div class="row mb-3">
      <div class="col-4">
        <h6 class="mt-1">Name:</h6>
      </div>
      <div class="col-8 ps-0">
        <input type="text" class="form-control" placeholder="your name" />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <h6 class="mt-1">Email:</h6>
      </div>
      <div class="col-8 ps-0">
        <input
          type="email"
          class="form-control"
          placeholder="youremail@gmail.com"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <h6 class="mt-1">Message:</h6>
      </div>
      <div class="col-8 ps-0">
        <textarea
          class="form-control"
          rows="3"
          placeholder="your message here"
        ></textarea>
      </div>
    </div>
    <button class="btn w-100 text-center contact-btn mt-2">
      Send Message<hugeicons-icon
        [icon]="TelegramIcon"
        [strokeWidth]="1.5"
        class="ms-1"
      ></hugeicons-icon>
    </button>
  </div>
</div>
