.bg-light {
  background-color: white !important;
  height: 75px;
}
nav {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #a79f9f;
  background: linear-gradient(270deg, #0f2027, #203a43, #2c5364, #1c1c3c);
}

.nav-link:hover {
  border-bottom: 2px solid #2c5364;
}

.logo-img {
  height: 66px;
  border-radius: 6px;
}
