/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

.animated-bg {
  min-height: 100vh;
  background: linear-gradient(270deg, #0f2027, #203a43, #2c5364, #1c1c3c);
  background-size: 600% 600%;
  animation: gradientMove 15s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.glass-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 170px;
  .glass-header {
    font-size: 2rem;
    font-weight: 700;
    color: #00fdff !important;
    margin-bottom: 1rem;
  }
  .glass-content {
    font-size: 1.1rem !important;
    font-weight: 500;
    color: #fff;
  }
}

.glass-card:hover {
  box-shadow: 7px 4px 30px rgba(9, 9, 5, 4.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.nav-tabs {
  margin-top: 50px;
  border-bottom: 1px solid #a19dc6c2 !important;
  justify-content: center;
  .nav-item {
    .nav-link {
      color: #fff;
      font-weight: 500;
      font-size: 1.1rem;
      margin-right: 16px;
      padding: 6px 56px 6px 56px;
      &.active {
        color: #00fdff !important;
        border-bottom: 2px solid #00fdff !important;
      }
    }
  }
}

.glass-card-tabs {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 375px;
  .card-title {
    font-size: 20px;
  }
  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.glass-card-tabs:hover {
  box-shadow: 16px 4px 19px rgb(14, 14, 33);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  cursor: pointer;
}

.testimonials-header {
  font-family: monospace;
  font-weight: bold;
  font-size: xx-large;
}

.testi-card {
  .card-text {
    color: #2c5364 !important;
    font-weight: 500;
  }
  .test-name {
    font-weight: 500;
    color: black;
  }
  .test-title {
    font-size: 14px;
    color: rgb(76, 74, 74);
  }
}
